@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
  background-color: rgb(171, 192, 255);
  color: rgba(0, 20, 30);
  text-shadow: none;
}
body{
  margin: 0;
  color: #fff;

  text-shadow: 0 0 5px rgba(0, 20, 30);
  text-align: center;
}

section{
  width: 100%;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 2s ease-in-out;
}

div.filter{
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  padding: 0 5%;

  background-color: rgba(0, 20, 30, 0.95);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800" width="800" height="800"><g stroke-width="3.5" stroke="hsla(0, 0%, 100%, 0.05)" fill="none"><line x1="400" y1="0" x2="0" y2="400"></line><line x1="800" y1="0" x2="400" y2="400"></line><line x1="1200" y1="0" x2="800" y2="400"></line><line x1="400" y1="400" x2="0" y2="800"></line><line x1="800" y1="400" x2="400" y2="800"></line><line x1="1200" y1="400" x2="800" y2="800"></line><line x1="400" y1="800" x2="0" y2="1200"></line><line x1="800" y1="800" x2="400" y2="1200"></line><line x1="1200" y1="800" x2="800" y2="1200"></line></g></svg>');

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes onLoad {
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }50%{
    opacity: 0.25;
  }100%{
    transform: translateY(0);
    opacity: 1;
  }
}

img{
  width: 100px;
  filter: drop-shadow(0 0 50px rgb(0, 12, 18));

  animation: onLoad 2s linear;
}

h1{
  font-family: "Goldman", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 250%;
  text-transform: uppercase;
  margin: 5px 0 12.5px 0;

  animation: onLoad 2s linear;
}
h2{
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0;

  animation: onLoad 2s linear;
}

p{
  font-family: "Poppins", sans-serif;
  margin: 10px 0;

  animation: onLoad 2s linear;
}

div.rrss{
  margin: 40px 0 20px 0;
  animation: onLoad 2s linear;
}

  div.rrss svg{
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 200%;
    padding: 15px;
    margin: 0 10px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgb(0, 12, 18));

    transition: all 0.3s ease;
  }

  div.rrss svg:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }

footer{
  animation: onLoad 2s linear;
}

  footer p{
    font-size: 75%;
    color: rgb(154, 154, 154);
  }

      footer p a{
        color: rgb(154, 154, 154);
      }

@media screen and (max-width: 600px){
  body{
    font-size: 90%;
  }
}

@media screen and (max-width: 550px){
  img{
    filter: none;
  }
}

@media screen and (max-width: 400px){
  body{
    font-size: 75%;
  }
  div.rrss svg{
    padding: 12.5px;
    margin: 0 7.5px;
  }
}